<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black">
    <div class="container">
      <div style="opacity: 0.9;" class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <!--      Wizard container        -->
          <div class="card card-signup">
            <div style="opacity: 0.8;" class="card-body">
              <div class="card-header text-center">
                <br />
                <h3 class="card-title heimdall-title">
                  <span style="color: green; font-weight: bold;">P</span>edidos
                </h3>
              </div>

              <form class="card-body" #form="ngForm" (ngSubmit)="login()">
                <app-input icon-left-class="fa fa-envelope">
                  <input type="email" class="form-control" input-content name="email" placeholder="Email"
                    [(ngModel)]="usuario.email" id="inputEmail" #email="ngModel" email required />
                </app-input>
                <app-input icon-left-class="fa fa-lock">
                  <input type="password" class="form-control" input-content name="password" placeholder="Senha"
                    [(ngModel)]="usuario.password" id="inputPassword" #password="ngModel" password required />
                </app-input>
                <div class="row">
                  <div class="col-xs-12" style="margin: 0 auto;">
                    <button type="submit" [disabled]="!form.valid" style="background-color: green;"
                      class="btn btn-success">
                      Entrar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>