<div class="modal-header">
  <p>Deseja realizar essa transferência?</p>
</div>

<div class="modal-body">
  <p>
    Posto Origem: <span class="font-weight-bold">{{ postoOrigem.descricao }}</span>
  </p>

  <p>
    Valor da transferência: <span class="font-weight-bold">{{ generateMask(transferencia.valorRealizado || 0) }}</span>
  </p>
</div>

<div class="modal-body">
  <mat-select placeholder="Selecione o Posto de Destino" name="idPostoDestino" [(ngModel)]="transferenciaDTO.idPostoDestino">
    <mat-option *ngFor="let posto of postos" (click)="setPostoDestino(posto)" [value]="posto.id">
      {{ posto.descricao }}
    </mat-option>
  </mat-select>
</div>

<div mat-dialog-actions class="modal-footer justify-content-center">
  <button mat-raised-button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
  <button mat-raised-button class="btn btn-success" (click)="confirmar()">Confirmar</button>
</div>
