<div class="modal-header">
  <p>Deseja confirmar essa ação?</p>
</div>
<div class="modal-footer justify-content-center">
  <button mat-raised-button class="btn btn-danger" (click)="onNoClick()">Não</button>
  <button mat-raised-button class="btn btn-success" (click)="onConfirm()">Confirmar</button>
</div>
