<div class="d-flex justify-content-between align-items-center mb-1">
    <h3>{{name}}</h3>
    <div>
        <div class="btn-group">
            <button routerLink="create" class="btn btn-sm btn-success">
                Novo
                <i class="fa fa-plus"></i>
            </button>
            <button (click)="isShowFiltros = !isShowFiltros" class="btn btn-sm btn-secondary">
                Filtros
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>
<div class="card crud-destaque-bordar-top">
    <div class="card-body">
        <div *ngIf="isShowFiltros">
            <ng-container *ngTemplateOutlet="filter"></ng-container>
        </div>
        <ng-container *ngTemplateOutlet="table"></ng-container>
    </div>
</div>
