<div class="ml-3">
  <app-card-box titulo="Contribuintes" bg-class="card-success">
    <app-card-box-tools>
      <app-tools-actions
        (save-action)="save()"
        (clear-action)="clear()"
        (search-action)="search()"
      >
      </app-tools-actions>
    </app-card-box-tools>

    <form #form="ngForm" class="row" novalidate>
      <div class="col-lg-8 col-md-8 col-sm-12">
        <app-input label="Nome">
          <input
            type="text"
            id="nome"
            input-content
            required
            class="form-control"
            [(ngModel)]="pessoa.name"
            name="nome"
          />
        </app-input>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-input label="Data nascimento">
          <input
            type="date"
            id="date"
            input-content
            required
            class="form-control"
            [(ngModel)]="pessoa.date"
            name="date"
          />
        </app-input>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-input label="CPF">
          <input
            type="text"
            id="documento"
            input-content
            required
            class="form-control"
            [(ngModel)]="pessoa.documento"
            name="documento"
            mask="000.000.000-00"
          />
        </app-input>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-input label="E-mail">
          <input
            type="email"
            id="email"
            input-content
            required
            class="form-control"
            [(ngModel)]="pessoa.email"
            name="email"
          />
        </app-input>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-input label="UF">
          <select
            id="estado"
            input-content
            [compareWith]="compare"
            class="form-control"
            (change)="getCidade($event)"
            [(ngModel)]="pessoa.estado"
            name="estado"
          >
            <option *ngFor="let estado of estados" [ngValue]="estado">{{
              estado.sigla
            }}</option>
          </select>
        </app-input>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-input label="Cidade">
          <select
            id="cidade"
            input-content
            [compareWith]="compare"
            class="form-control"
            [(ngModel)]="pessoa.cidade"
            name="cidade"
          >
            <option *ngFor="let cidade of cidades" [ngValue]="cidade">{{
              cidade.nome
            }}</option>
          </select>
        </app-input>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-input label="Latitude">
          <input
            type="text"
            id="latitude"
            input-content
            required
            class="form-control"
            [(ngModel)]="pessoa.latitude"
            name="nome"
            mask="00º"
          />
        </app-input>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-input label="Longitude">
          <input
            type="text"
            id="longitude"
            input-content
            required
            class="form-control"
            [(ngModel)]="pessoa.longetude"
            name="longitude"
            mask="000º"
          />
        </app-input>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <app-input label="Tipo">
          <input
            type="text"
            id="tipo"
            input-content
            class="form-control"
            [(ngModel)]="pessoa.tipoPessoa"
            name="tipo"
          />
        </app-input>
      </div>
    </form>
  </app-card-box>
</div>
