<button class="btn btn-success ml-1" title="Salvar" (click)="save()">
    <i class="fas fa-save"></i>
</button>
<button class="btn btn-default ml-1" title="Limpar" (click)="clear()">
    <i class="fas fa-eraser"></i>
</button>
<button class="btn btn-info ml-1" title="Consultar" (click)="search()">
    <i class="fas fa-search"></i>
</button>