<div class="card {{ bg }} card-outline card-info">
  <div class="card-header">
    <h3 class="card-title">{{ titulo }}</h3>
    <div class="card-tools">
      <ng-content select="app-card-box-tools"></ng-content>
    </div>
  </div>
  <div class="card-body">
    <ng-content></ng-content>
  </div>
</div>
