<div class="main-content">
  <div class="container-fluid">
    <app-caixa-movimentacoes
      [transferencias]="transferencias"
      [rowsNumber]="queryOptions.pageSize"
      [totalRecords]="totalRecords"
      (tabViewChange)="onChangeTabView($event)"
      (loadTransferenciasPage)="onLoadTransferencias($event)"
      (acaoClick)="onAcaoClick($event)"
    >
    </app-caixa-movimentacoes>
  </div>
</div>
