<app-card-list name="Caixas">
  <ng-template #filter>
    <hr />
  </ng-template>

  <ng-template #table>
    <p-table
      [value]="caixas"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{last} de {totalRecords} itens"
      [rowsPerPageOptions]="[10, 15, 20]"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Posto</th>
          <th>Saldo</th>
          <th>Data Abertura</th>
          <th>Situação</th>

          <th style="width: 6%;"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-domain>
        <tr>
          <td>{{ domain.posto.descricao }}</td>
          <td>{{ generateMask(domain.saldo ? domain.saldo : 0) }}</td>
          <td>{{ domain.dataHoraAbertura | date: 'dd/MM/yyyy - HH:mm' }}</td>
          <td>{{ domain.situacao }}</td>
          <td>
            <button (click)="caixaDetailEvent(domain)" class="btn btn-link btn-warning btn-just-icon edit">
              <i class="material-icons">dvr</i>
            </button>
          </td>
          <td style="width: 6%;"></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td>
            Nenhum Registro encontrado.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</app-card-list>
