<app-card-list name="{{ title }}">
  <ng-template #filter>
    <hr />
  </ng-template>

  <ng-template #table>
    <p-table
      [value]="transferencias"
      [paginator]="true"
      [rows]="rowsNumber"
      [showCurrentPageReport]="true"
      [lazy]="true"
      currentPageReportTemplate="{last} de {totalRecords} itens"
      styleClass="p-datatable-gridlines"
      (onLazyLoad)="loadTransferencias($event)"
      [totalRecords]="totalRecords"
      [loading]="loading"
    >
      <ng-template pTemplate="header">
        <tr>
          <th *ngIf="tipoTransferencia === 'saidas'">Destino</th>
          <th *ngIf="tipoTransferencia === 'entradas'">Origem</th>
          <th style="width: 20%;">Descrição</th>
          <th>Data/Hora</th>
          <th>Valor</th>
          <th style="width: 20%;">Situação</th>
          <th>Natureza</th>

          <th style="width: 0%;"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-domain>
        <tr>
          <td *ngIf="tipoTransferencia === 'saidas'">{{ domain.destino?.nome }}</td>
          <td *ngIf="tipoTransferencia === 'entradas'">{{ domain.origem?.nome }}</td>
          <td>{{ domain.descricao }}</td>
          <td>{{ domain.dataHoraCadastro | date: 'dd/MM/yyyy - HH:mm' }}</td>
          <td>{{ generateMask(domain.valorRealizado || 0) }}</td>
          <td>{{ domain.situacao }}</td>
          <td>{{ domain.natureza }}</td>
          <td *ngIf="tipoTransferencia === 'entradas' && domain.acoes?.length > 0">
            <button [matMenuTriggerFor]="menu" class="btn btn-link btn-warning btn-just-icon edit">
              <i class="material-icons">dvr</i>
              <mat-menu #menu="matMenu">
                <button *ngFor="let acao of domain.acoes" mat-menu-item (click)="onAcaoClick(acao, domain)">
                  {{ acao }}
                </button>
              </mat-menu>
            </button>
          </td>
          <td style="width: 6%;"></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td>
            Nenhum Registro encontrado.
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</app-card-list>
