<div class="main-content">
  <div class="container-fluid">
    <app-card-list name="Pessoas">
      <ng-template #filter>
        <form (submit)="buscar(searchForm)" #searchForm="ngForm">
          <div class="box-body">
            <div>
              <div class="d-flex justify-content-between">
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input
                    id="nome"
                    class="form-control form-control-sm"
                    type="text"
                    name="nome"
                    ngModel
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="button" class="btn btn-sm" (click)="limpar()">
              Limpar
            </button>
            <button class="btn btn-primary btn-sm ml-2">Buscar</button>
          </div>
        </form>
        <hr />
      </ng-template>

      <ng-template #table>
        <p-table
          #dataTable
          [value]="pessoas"
          [paginator]="true"
          [rows]="5"
          (onLazyLoad)="paginarList($event)"
          [lazy]="true"
          [totalRecords]="totalRecords"
          [loading]="loading"
          [rowsPerPageOptions]="[10, 20, 30]"
          [scrollable]="true"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Documento</th>
              <th>Data</th>
              <th>Tipo</th>
              <th>E-Mail</th>

              <th style="width: 6%;"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-domain>
            <tr>
              <td>{{ domain.id }}</td>
              <td>{{ domain.name }}</td>
              <td>{{ domain.documento }}</td>
              <td>{{ domain.date }}</td>
              <td>{{ domain.tipoPessoa }}</td>
              <td>{{ domain.email }}</td>
              <td style="width: 6%;">
                <app-table-actions
                  [domain]="domain"
                  (removeEvent)="remover($event)"
                ></app-table-actions>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td>
                Nenhum Registro encontrado.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </app-card-list>
  </div>
</div>
