<h1>Movimentações</h1>
<p-tabView (onChange)="tabViewDidChanged($event)">
  <p-tabPanel header="Entradas">
    <ng-template pTemplate="content">
      <app-transferencia-list
        [tipoTransferencia]="'entradas'"
        [caixaId]="caixaId"
        [transferencias]="transferencias"
        [rowsNumber]="rowsNumber"
        [totalRecords]="totalRecords"
        (loadTransferenciasPage)="onLoadTransferencias($event)"
        (acaoClick)="onAcaoClick($event)"
      ></app-transferencia-list>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Saídas">
    <ng-template pTemplate="content">
      <app-transferencia-list
        [tipoTransferencia]="'saidas'"
        [caixaId]="caixaId"
        [transferencias]="transferencias"
        [rowsNumber]="rowsNumber"
        [totalRecords]="totalRecords"
        (loadTransferenciasPage)="onLoadTransferencias($event)"
        (acaoClick)="onAcaoClick($event)"
      ></app-transferencia-list>
    </ng-template>
  </p-tabPanel>
</p-tabView>
