<div class="card card-warning card-outline">
    <div class="card-header">
        
      </div>
  <div class="card-body">
   
  
  
  </div>

  <div class="card-footer p-2">
    <button class="btn btn-sm mr-1" [routerLink]="['../../']">Voltar</button>
    <button (click)="goToEdit()" class="btn btn-sm btn-primary mr-1">Editar</button>
    <button (click)="remover()" class="btn btn-sm btn-danger">Remover</button>
  </div>

</div>