<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Lista de Pedidos</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive table-hover">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th *ngFor="let cell of listaPedidos.headerRow">{{ cell }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of listaPedidos.dataRows" (click)="exibirDetalhes(row[4])">
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td class="text-primary">{{ row[3] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>