<div class="form-group">
    <label>{{label}}</label>
    <select class="form-control" (change)="valueChange($event)" [ngModel]="nome" >
        <option *ngFor="let opcao of opcoes" [value]="opcao.id">{{opcao.nome}}</option>
    </select>
</div>