/* You can add global styles to this file, and also import other style files */
.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}


.nav-pills.nav-pills-warning .nav-item .nav-link.active, .nav-pills.nav-pills-warning .nav-item .nav-link.active:focus, .nav-pills.nav-pills-warning .nav-item .nav-link.active:hover{
  color: white !important;
}


.nav-pills.nav-pills-warning .nav-item .nav-link.active, .nav-pills.nav-pills-warning .nav-item .nav-link.active:focus, .nav-pills.nav-pills-warning .nav-item .nav-link.active{
  color: white !important;
}

.page-categories .nav-item{
  background-color: gray !important;
  color: white !important;
}

.page-categories .nav-item a{
  color: white !important;
}


.page-categories .nav-item .active{
  background-color: green !important;
  color: white !important;
}

.card .card-header-rose .card-icon, .card .card-header-rose .card-text, .card .card-header-rose:not(.card-header-icon):not(.card-header-text), .card.bg-rose, .card.card-rotate.bg-rose .front, .card.card-rotate.bg-rose .back {
  background-color: green !important;
}

card-icon{
  background-color: green !important;
}