<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="page-categories">
      <h3 class="title text-center">{{pedido.descricaoStatus}}</h3>
      <br />
      <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#link7" role="tablist">
            <i class="material-icons">info</i> Predido Recebido
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#link8" role="tablist">
            <i class="material-icons">location_on</i> Pedido Aprovado
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
            <i class="material-icons">gavel</i> Pedido Separado
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#link10" role="tablist">
            <i class="material-icons">help_outline</i> Pedido Em Transporte
          </a>
        </li>
      </ul>
      <div class="tab-content tab-space tab-subcategories">

        <div class="tab-pane active" id="link8">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Recebemos seu pedido e estamos processando o pagamento</h4>
            </div>
            <div class="card-body">

              <div>
                <p><b>Previsão de entrega:</b> {{pedido.previsaoEntrega}}</p>
                <p><b>Valor Total:</b> {{pedido.valorTotal}}</p>
                <p><b>Total em descontos:</b> {{pedido.desconto}}</p>
                <p><b>Endereço de Entrega:</b> {{pedido.enderecoEntrega}}</p>
                <p><b>Forma de pagamento:</b> {{pedido.formaPagamento}}</p>

              </div>


            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>